// section Características mobile
.caracteristicas {
  position: relative;
  padding: 1.5em;
}

.caracteristicas__h2 {
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
  text-align: center;
}

.grid__item__h3 {
  font-family: $raleway;
  font-size: $large;
  font-weight: $bold;
  padding-top: 2em;
}
.grid__item__text {
  line-height: 1.8;
}
// fin section caracteristicas mobile

// section caracteristicas desktop
@media only screen and (min-width: 700px) {
  .caracteristicas {
    padding-bottom: 3em;
  }

  .caracteristicas__h2 {
    margin-top: 0;
    font-size: $xxxx-large;
  }

  .caracteristicas__container {
    display: grid;
    grid-template-columns: 30em 30em;
    justify-content: center;
  }

  .grid__item__h3 {
    padding: 0;
    margin: .5em 0 0 0;
    font-size: $xx-large;
  }

  .grid__item__text {
    padding-right: 3em;
  }
}
// fin section caracteristicas desktop

// section precios mobile
.precios__title {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.precios__background {
  position: relative;
  width: 100%;
  z-index: -1;
}

.precios__h2 {
  margin-top: -3em;
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
  text-align: center;
  color: $white;
}

.container__cards {
  position: relative;
  padding: 1.5em;
  background-color: $onyx;
}

.precios__card {
  background-color: $white;
  padding: 0em 1.5em 0 1.5em;
  border: 1px solid $silver-chalice;
  margin-bottom: 3em;
}

.precios__body__h4 {
  font-size: $large;
  font-weight: $regular;
  margin-bottom: 0;
}

.precios__body__p {
  font-family: $raleway;
  font-size: $xxx-large;
  font-weight: $bold;
  margin: 0 0 .5em 0;
}

.precios__list {
  padding-left: 2em;
  line-height: 1.8;
}

.precios__item {
  padding-left: .5em;
}

.precios__free {
  padding-bottom: 5.4em;
}
hr {
  color: $gray;
  border-style: ridge;
}
.precios__button {
  font-size: $medium;
  margin: .5em 0 1.5em 0;
  width: 100%;
  height: 2.5em;
  color: $white;
  background-color: $ball-blue;
  border-style: none;
}
// fin section precios mobile

// section precios desktop
@media only screen and (min-width: 700px) {

  .precios__h2 {
    margin-top: -14em;
    font-size: $xxxx-large;
  }

  .container__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
  }

  .precios__card {
    margin: 0 3em 2em 3em;
  }

  .precios__body__h4 {
    font-size: $x-large;
  }

  .precios__body__p {
    font-size: $xxxx-large;
  }
  
}


.bar-graph{
  -webkit-animation: mover 1s ease-in 3 alternate forwards;
   animation: mover 3s ease-in 10 alternate forwards;
 }

